<div class="header">
    <div class="first-landeau">
            <div class="header-logo">
                <button class="logo-button"></button>
            </div>
            <div class="header-search">
                <div class="button-item" style="font-weight: bold;">N'importe où</div>
                <div class="separator">|</div>
                <div class="button-item" style="font-weight: bold;">Une semaine</div>
                <div class="separator">|</div>
                <div class="button-item">Ajouter des voyageurs</div>
                <div class="button-item-search"></div>
            </div>
            <div class="header-buttons">
                <button class="buttonCo-myLog">mettre mon logement sur AirBnB</button>
                <button class="buttonCo-Earth"></button>
                <button class="buttonCo-Connect">
                    <div class="buttonCo-Connect-image1"></div>
                    <div class="buttonCo-Connect-image2"></div>
                </button>
            </div>  
    </div> 
    <div class="second-landeau">
        <div class="activties">Act</div>
    </div>
</div>
